.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.open div:nth-child(2) {
  opacity: 0;
}
.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

.hamburger div {
  transition: 0.3s ease-in-out;
}
